<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="nodejs-lts" version="20.13.1"/>
	<package id="git" version="2.45.1"/>
	<package id="vscode" version="1.89.1"/>
	<package id="openssh" version="8.0.0.1"/>
	<package id="zoom" version="6.0.4.38135"/>
	<package id="slack" version="4.38.125"/>
	<package id="googlechrome" version="125.0.6422.76"/>
	<package id="temurin17" version="17.0.10"/>
</packages>